<h1>web mio</h1>
    <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="/acercade">A Cerca de</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/preguntas_frecuentes">Preguntas Frecuentes</a></li>
        <li><a href="/usuarios">Usuarios</a></li>
        <li><a href="/lista_usuarios">Lista de Usuarios</a></li>
        <li><a href="/registros">Registros</a></li>
        <li><a href="/registros_viajes">Registros Viajes</a></li>
        <li><a href="/formularios">Formularios</a></li>
    </ul>    