<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Compartiendo Momentos{% endblock title %}</title>
</head>
<body>
    <h1>Compartiendo Momentos</h1>
    <ul>
        <li><a href="{% url 'home' %}">home</a></li>
        <li><a href="{% url 'acercade' %}">A cerca de</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
        <li><a href="{% url 'lista_usuario' %}">Lista de Usuarios</a></li>
        <li><a href="{% url 'preguntas_frecuentes' %}">Preguntas_Frecuentes</a></li>
        <li><a href="{% url 'registro' %}">Registro</a></li>
        <li><a href="{% url 'registroviaje' %}">Registro Viajes</a></li>
        <li><a href="{% url 'usuario' %}">Usuario</a></li>
        <li><a href="{% url 'formulario' %}">Formulario</a></li>
    </ul>
    {% block content%}  {% endblock %}
</body>
</html>